
/* ----------------------------------

Name: style.css
Version: 1.0

-------------------------------------

Table of contents Home page
        
    01. General css
    02. Menu section
    03. Banner section
    04. About section
    05. Surah section
    06. Reciters section
    07. Blog section
    08. CTA maps section
    09. Footer section
    10. Scrolling Section

*/



/*--------------------------------------------------------------------
				1.General css
----------------------------------------------------------------------*/
* {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
    margin:0;
	padding:0;
}


body {
    font-family: 'Montserrat', sans-serif;
    color: #7f7e7e;
    max-width:1920px;
    margin:0 auto;
    background-color: #E9E6D7;
}

a:focus,
a:hover,
a:active,
a {
	text-decoration:none;
	outline:none;
}

ul {
	margin:0;
	padding:0;
}

li {
	list-style:none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight : normal;
    color: #343434;
}

p {
    margin: 0;
    line-height: 24px; 
    color: #6b6b6b; 
    font-size: 14px;
}

input,select,textarea,button{
	outline:0;
}

html,
body {
    height: 100%;
    font-family: 'Manrope', sans-serif;
}

[placeholder]:focus::-webkit-input-placeholder {
  -webkit-transition: opacity 0.3s 0.3s ease; 
  -moz-transition: opacity 0.3s 0.3s ease; 
  -ms-transition: opacity 0.3s 0.3s ease; 
  -o-transition: opacity 0.3s 0.3s ease; 
  transition: opacity 0.3s 0.3s ease; 
  opacity: 0;
}

textarea {
    resize: none;
}

/*--------------------------------------------------------------------
				2.Menu section
----------------------------------------------------------------------*/


.menubar{
    border-bottom: 1px solid #26534C;
}
header.main-menu.sticky.fixed .menubar {
    margin-bottom: 30px;
}
.container.menubar {
    padding-bottom: 25px;
    padding-top: 10px;
}
.navbar-menu li{
    margin-right: 10px;
    margin-left: 10px;
}
.navbar-menu li a {
font-weight: 400;
font-size: 16px;
line-height: 28px;
text-align: center;
color: #556561;
position: relative;
padding-right: 0px !important;
padding-left: 0px !important;
}
.navbar-menu li a:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 1px;
    background: #F2AC0D;
    opacity: 1;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.navbar-menu li a:hover:before {
    width: 100%;
    opacity: 1;
}
.navbar-menu li a:hover{
    color: #F2AC0D;
}
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    /* border: 3px solid #F2AC0D; */
    color: #F2AC0D;
}
.user-button{
    display: flex;
}
.custom-btn{
font-weight: 600;
font-size: 16px;
line-height: 28px;
color: #1C3F39;
margin-right: 10px;
border-radius: 0px;
padding: 10px 15px;
position: relative;

}
.custom-btn:before {
    position: absolute;
    content: '';
    width: 0%;
    height: 100%;
    left: -12%;
    top: 0%;
    background: #1C3F39;
    /* transform: skew(50deg); */
    transition: all .3s ease;
    overflow: hidden;
    z-index: -1;
}
.custom-btn:focus,
.custom-btn:hover{
    color: #FFF;
    border: 1px solid transparent;
   
}
.custom-btn:hover:before {
    width: 120%;
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999999;
    -webkit-box-shadow: 0 10px 20px 0 rgba(79, 35, 35, .08);
    box-shadow: 0 10px 20px 0 rgba(79, 35, 35, .08);
    animation: smoothScroll 1s forwards;
    background-color: #e9e6d7fa;
   
}
@keyframes smoothScroll {
	0% {
		transform: translateY(-50px);
	}
	100% {
		transform: translateY(0px);
	}
}
/*--------------------------------------------------------------------
				3.Banner section
----------------------------------------------------------------------*/
.banner-section{
    background-image: url('/assets/images/Icon.png');
    background-size: cover;
    background-repeat: no-repeat;
    

}
.banner-content{
    padding-top: 100px;
}
.banner-content h1{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 62px;
    line-height: 72px;
    /* or 116% */
    width: 670px;
    margin:  0 auto;
    text-align: center;
    color: #1C3F39;
}
.ellipse{
    border: 3px solid #F2AC0D;
    padding: 2px 8px;
    border-radius: 50%;
}
.banner-content p{
    width: 670px;
    font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
text-align: center;
margin: 24px auto;
color: #556561;
}
.custom-buttons{
    display: flex;
    justify-content: center;
    margin-top: 30px ;
    margin-bottom: 45px ;
}
.btn.custom-btn2 {
    color: #1C3F39;
    padding: 10px 28px;
    border: 1px solid #556561;
    margin-right: 20px;
    border-radius: 6px;
    position: relative;
    z-index: 1;
    overflow: hidden;
   
}
.btn.custom-btn2:before,
.btn.custom-btn2.custom-btn-active:before {
    position: absolute;
    content: '';
    width: 0%;
    height: 100%;
    left: -22%;
    top: 0%;
    background: #F2AC0D;
    border: 1px solid #F2AC0D;
    transform: skew(50deg);
    transition: all .3s ease;
    overflow: hidden;
    z-index: -1;
}
.btn.custom-btn2:hover{
    border: 1px solid #F2AC0D;
}
.btn.custom-btn2:hover:before {
    width: 140%;
    border: 1px solid #F2AC0D;
}
.btn.custom-btn2.custom-btn-active{
    background: #F2AC0D;
    color: #1C3F39;
    border: 1px solid #F2AC0D;
    margin-top: 20px;
}
.btn.custom-btn2.custom-btn-active:before{
    background: #1C3F39;
    border: 1px solid #1C3F39;
}

.btn.custom-btn2.custom-btn-active:hover{
border: 1px solid #1C3F39;
    color: #F2AC0D;
}
/*--------------------------------------------------------------------
				3.CounterUp section
----------------------------------------------------------------------*/
.counter-section {
    background: #1C3F39;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding: 50px 0;
    margin-top: -5px;
}
.counter-content h2{
    
font-style: normal;
font-weight: 700;
font-size: 42px;
line-height: 52px;
text-align: center;
color: #F2AC0D;
}
.counter-content p{

font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
text-align: center;
color: #B7CBC7;
}
.counter-content {
    border-right: 1px solid #315E56;
}
.last-counter-content {
    border-right: 1px solid transparent;
}
/*--------------------------------------------------------------------
				4.About section
----------------------------------------------------------------------*/
.about-section{
    padding-top: 170px;
}
.about-img {
margin-top: -50px;
}
.title{
width: 470px;
font-style: normal;
font-weight: 700;
font-size: 42px;
line-height: 52px;
margin-bottom: 20px;
}
.title h2{
    color: #1C3F39;
}
.sub-title{
    width: 470px;
}
.sub-title p{
    font-weight: 400;
font-size: 16px;
line-height: 28px;
margin-bottom: 14px;
color: #556561;
}
/*--------------------------------------------------------------------
				5.Surah section
----------------------------------------------------------------------*/
.surah-section{
    padding-top:170px ;
    padding-bottom: 140px;
}
.surah-section .title{
margin:  0 auto;
text-align: center;
}
.surah-title {
    margin-bottom: 50px !important;
}
.surah-section .title h2{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 52px;
    text-align: center;
    color: #1C3F39;
}

.search-content{
    border: 1px solid #CCD3D2;
    border-radius: 6px;
    width: 184px;
    padding: 6px;
}

.search-content button{
    font-family: 'Manrope';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 28px;
text-align: center;
color: #FFFFFF;
background: #26534C;
    
}
.search-content input,
.search-content input:focus{
    background: transparent;
    border: none;
    box-shadow:none;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #1C3F39;
}

.surahs-content{
background: #FFFFFF;
border-radius: 6px;
padding: 22px;
transition: all .5s;

}
.surah-title p{
    font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;
color: #556561;
}
.surah-title p span{
    font-weight: 800;
    cursor: pointer;
   
}
.surah-title p span i{
   margin-left: 8px;
}
.surah-number{
    width: 38px;
    height: 38px;
    background: #E9E6D7;
    border-radius: 6px;
    transition: all .5s;
    
}
.surah-number p{
font-weight: 600;
font-size: 14px;
line-height: 36px;
text-align: center;
color: #605E54;
transition: all .5s;
}

.surah-name h3{
font-weight: 600;
font-size: 20px;
line-height: 30px;
color: #1C3F39;
margin-bottom: 0;
transition: all .5s;
}
.surah-name p{
font-weight: 400;
font-size: 14px;
line-height: 24px;
color: #556561;
transition: all .5s;
}
.surah-name-arabi h3{
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-align: right;
    color: #1C3F39;
    margin-bottom: 0;
    transition: all .5s;
}

.surah-name-arabi p{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: right;
    color: #556561;
    transition: all .5s;

}
.surahs-content:hover{
    background: #26534C;
    }
.surahs-content:hover .surah-number{
background-color: #FFFFFF;
}
.surahs-content:hover .surah-number p{
   color: #26534C;
    }
.surahs-content:hover .surah-name h3,
.surahs-content:hover .surah-name P,
.surahs-content:hover .surah-name-arabi h3,
.surahs-content:hover .surah-name-arabi P{
    color: #FFFFFF;
}
.all-surah-btn{
    width: 200px;
    margin: 0 auto;
}
/*--------------------------------------------------------------------
				6.Reciters section
----------------------------------------------------------------------*/

.reciters-section {
    background: #1C3F39;
    position: relative;
    padding: 100px 0;
   
}


.reciters-content .title{
    width: 370px;
}
.reciters-content .title h2{
font-weight: 700;
font-size: 42px;
line-height: 52px;
color: #FFFFFF;
}
.reciters-content .sub-title{
width: 370px;
}
.reciters-content .sub-title p{
    color:#B7CBC7;
}
/* .owl-theme .owl-nav {
    margin-top: 10px;
    position: absolute;
    right: -40%;
    bottom: 20%;
} */
/* .owl-dots {
    margin-top: 5px;
    position: absolute;
    right: -37%;
    bottom: 20%;
} */

/* .owl-theme .owl-nav [class*=owl-] {
    margin: 5px 20px;

} */
/* .owl-item img{
    width: 200px;
    height: 380px;
    border-radius: 8px;
}
*/
.reciters-content-img {
    position: absolute;
    content: '';
    right: 0px;
    bottom: -35px;
    width: 200px;
    height: 200px;
    z-index: 1;
} 
.res-rcbtn{
    display: none;
}
/*--------------------------------------------------------------------
				7.Blog section
----------------------------------------------------------------------*/
.blog-section{
    background: #FFFFFF;
    padding: 170px 0px;
}
.blog-section .sub-title p{
margin-top: 20px;
margin-bottom: 70px;

}
.blog-content{
    padding: 19px;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #CCD3D2;
    border-radius: 8px;
    transition: all .5s ease;
}
.blog-content:hover{
    background: #FFFFFF;
    box-shadow: 0px 18px 56px rgba(0, 0, 0, 0.07);
    border-radius: 8px;
    border:1px solid  #FFFFFF;
}
.blog-content img{
    height: -webkit-fill-available;
}
.blog-section .title{
    margin: 0 auto;
}

.blog-section .sub-title{

    width: 430px;
    margin: 0 auto;
}
.blog-content-title {
    padding: 16px 0px;
}
.blog-content-title h3{
font-weight: 700;
font-size: 20px;
line-height: 30px;
color: #1C3F39;
margin-bottom: 0px;

}
.blog-content-title span{
    width: 35px;
    height: 2px;
    background: #26534C;
    border-radius: 1px;
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 15px;
}
.blog-content-title p{
font-weight: 400;
font-size: 14px;
line-height: 24px;
margin-bottom:15px ;
}
.custom-btn3{
    font-family: 'Manrope';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 24px;
color: #1C3F39;
border: none;

}
.blog-content-title .custom-btn3{
    padding: 0;
}
.custom-btn3:hover{
    border: transparent;
}
.blog-content:hover .custom-btn3{
color: #F2AC0D;
}
/*--------------------------------------------------------------------
				8.CTA section
----------------------------------------------------------------------*/
.cta-section{
    background-color: #1C3F39;
}
.cta-content{
    background-image: url('../images/Graphics.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding: 100px 0;

}
.cta-content .title{
    margin: 0 auto;
}
.cta-content .title h2{
    color: #FFFFFF;
    text-align: center;
    line-height: 44px;
    margin-bottom: 20px;
    }
.cta-content .sub-title{
    width: 570px;
    margin: 0 auto;
    text-align: center;

    
}
.cta-content .sub-title p{
    color: #B7CBC7;
}

.cta-content-btn {
    text-align: center;
    margin-top: 30px;
}
/*--------------------------------------------------------------------
				9.Footer section
----------------------------------------------------------------------*/
.footer-section{
    padding: 70px 0;
}
.footer-logo{
    margin-bottom: 22px;
}
.social-icon {
    margin-top: 20px;
}
.social-icon ul li{
    margin-right: 12px;
}

.social-icon ul li a{
    display: inline-block;
    width: 42px;
    height: 42px;
    line-height: 42px;
    background: #D1CDB7;
    border-radius: 50%;
    transition: all .5s ease;
    text-align: center;
}
.social-icon ul li a i{
    color: #1C3F39;
}
.social-icon ul li a:hover {
    background: #F2AC0D;
}

.footer-list p,
.footer-list ul li{
    font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;
margin-bottom: 10px;

}
.footer-list ul li a{
    color: #556561;
    transition: all .5s ease;
}
.footer-list ul li a:hover{
    color: #F2AC0D;

}
.footer-title p{
font-family: 'Manrope';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 30px;
color: #1C3F39;
margin-bottom: 22px;
}
.footer-list{
font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;
color: #556561;
}
/*--------------------------------------------------------------------
				10. Scrolling Section
----------------------------------------------------------------------*/
.scrolling i {
    font-size: 20px;
}
.scrolling a {
    background: #26534C; 
     width: 48px;
    height: 48px;
    display: none;
    text-align: center;
    line-height: 48px;
    border-radius: 8px;
}
.scrolling a:hover{
    color: #F5F5F5;
}
.scrollup {
        color: #F5F5F5;
    position: fixed;
    bottom: 70px;
    right: 100px;
    z-index: 2;
} 

